name: publish

on:
  release:
    types: [created]
jobs: 
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2.4.1
        with:
          node-version: 14
          registry-url: 'https://registry.npmjs.org'
          scope: '@20i'
          cache: yarn
          cache-dependency-path: yarn.lock
      - run: yarn
      - run: yarn publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ secrets.NPM_TOKEN }}
          checkVersion: true
          access: public
